---
interface Props {
    dates: string[];
}

const { dates } = Astro.props as Props;
---

<div class="lb-page-header">
    <div>
        <div class="lb-page-title">Leaderboard</div>
    </div>
</div>
