---
import EditLink from "virtual:starlight/components/EditLink";
import LastUpdated from "virtual:starlight/components/LastUpdated";
---

<footer class="sl-flex">
    <div class="meta sl-flex">
        <EditLink />
        <LastUpdated />
    </div>
    <p class="ibm-footer-note">Curated with ❤️ by IBM</p>
</footer>

<style>
    @layer starlight.core {
        footer {
            flex-direction: column;
            gap: 1.5rem;
        }

        .meta {
            gap: 0.75rem 3rem;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 3rem;
            font-size: var(--sl-text-sm);
            color: var(--sl-color-gray-3);
        }

        .meta > :global(p:only-child) {
            margin-inline-start: auto;
        }

        .ibm-footer-note {
            margin: 0.75rem auto 1.5rem;
            font-size: var(--sl-text-xs);
            letter-spacing: 0.02em;
            color: var(--sl-color-gray-3);
            text-align: center;
        }
    }
</style>
